.nestResultContainer {
  margin: 15px;
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--box-border);
  background-color: white;
  border-radius: 6px;
  margin: 15px 100px 15px 100px;
  padding: 10px;
  font-weight: light;
  min-width: 25%;
}
