.nestingResultDrawer {
  width: 90%;
  height: 300px;
  border: 1px solid darkblue;
  margin: 15px;
  box-sizing: border-box;
  display: flex;
}

.mainNest {
  border: 1px solid red;
}

.subNest {
  border: 1px solid green;
}

.divRow {
  border: 2px solid red;
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
}

.divCol {
  border: 2px solid blue;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
}

.byWidth {
  flex-direction: row;
}

.byHeight {
  flex-direction: column;
}
