@import url(./PageHeader.css);

.nestingPageContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  height: 100%;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
